
h1 {
    text-align: center;
    color: blue;
}
h2 {
    text-align: center;
}
p {
    text-indent: 24px;
}
h3 {
    text-shadow: maroon
}

.container {
    width:900px;
    margin: 0 auto;
    background: orange;

}
.background {
    color: yellow;
}